<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <p>Registration Page</p>
  <form action="/register" method="POST" style="margin:150px;">
    <input id="email" type="email" name="email" placeholder="E-Mail Address" style="width: 300px">
    <br>
    <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>
</html>